<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <style>
        .header {
            text-align: center;
            padding-top: 5em;
        }
        .box {
            width: 10em;
            height: 10em;
            background-color: blue;
            border-radius: 25%;
        }
        .container {
            display: flex;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
    <h1 class = 'header'>Welcome! {{times}}</h1>
    <div class = 'container'>
        {% for time in range(times)%}
            <div class="box">
            </div>
        {% endfor %}
    </div>
</body>
</html>